<mat-card *ngIf="service; else noService">
  <mat-card-content>
    <h2>{{service.name}}</h2>
    <nav mat-tab-nav-bar>
      <a *ngFor="let action of service.actions" mat-tab-link [routerLink]="['../', action.type]" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{action.label}}
      </a>
    </nav>
    <sm-action-processor [data]="actionData"></sm-action-processor>
  </mat-card-content>
</mat-card>

<ng-template #noService>
  <mat-card>
    <mat-card-content>
      <h2>Service not found</h2>
      <button mat-raised-button color="warn" routerLink="/">
        Go Home
      </button>
    </mat-card-content>
  </mat-card>
</ng-template>
