<sm-app-shell appName="Scheduling">
	<ng-container *ngIf="!processing; else loading">
  		<div class="schedules-page">
  			<ng-container *ngIf="schedules?.length; else noSchedules">	      	
	      	<mat-card *ngFor="let schedule of schedules">
			    <mat-card-title>
			      {{schedule.id}}           
			    </mat-card-title>
			    <mat-card-content>
			      <pre class="readonly">{{schedule | json}}</pre>             
			    </mat-card-content>
			    <mat-card-actions>
		          <button mat-button (click)="onEdit(schedule)">EDIT</button>
		          <button mat-button color="warn" (click)="onDelete(schedule)">DELETE</button>
			    </mat-card-actions>
		  	</mat-card>
		  	</ng-container> 
		  	<button mat-fab class="add-fab" (click)="onAdd()">+</button>	      		      	              
     	</div>
	</ng-container>
  	<ng-template #loading>
  		<mat-card>
    		<mat-card-content>
      			<sm-loading text="Loading"></sm-loading>
    		</mat-card-content>
  		</mat-card>
	</ng-template>
	<ng-template #noSchedules>
  		<p>No Scheduled Jobs</p>
	</ng-template>
</sm-app-shell>
