<div class="command-list">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let command of commands">
      <mat-expansion-panel-header>
        <mat-panel-title class="command-title">
          {{command.label}}
        </mat-panel-title>
        <mat-panel-description class="command-description" *ngIf="command.description">
          {{command.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div matExpansionPanelContent>
        <!-- <div class="command-content"> -->
        <!-- <pre>{{command | json}}</pre> -->
        <!-- </div> -->

        <sm-command-form [command]="command"></sm-command-form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
