<div class="command-list">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let command of commands">
      <mat-expansion-panel-header>
        <mat-panel-title class="command-title">
          {{command.label}}
        </mat-panel-title>
        <mat-panel-description class="command-description" *ngIf="command.description">
          {{command.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <sm-dynamic-form [config]="command.parameters" (submit)="onSubmit(command, $event)">
          <mat-action-row>
            <button type="submit" color="accent" mat-raised-button>Submit Command</button>
          </mat-action-row>
        </sm-dynamic-form>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
