<mat-card>
  <form (submit)="onSubmit()">
    <mat-card-content>
      <mat-form-field class="full-width">
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMinRows="4"
          [errorStateMatcher]="matcher"
          (keydown)="onKeyPress($event)"
          [formControl]="jsonEditor">
        </textarea>
        <mat-error *ngIf="editorHasError">{{editorGetError}}</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout>
      <button type="submit"
        mat-raised-button
        color="primary"
        fxLayout="row"
        [disabled]="disableSave">
        {{ saving ? 'Saving...' : 'Save'}} <mat-icon svgIcon="checkmark"></mat-icon>
      </button>
      <button type="button" mat-button (click)="onCancel()" [disabled]="working">
        Cancel <mat-icon svgIcon="close"></mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
