mat-sidenav {
  width: 250px;
}
/*

mat-sidenav-container {
  flex: 1 1 auto;
  height: 100%;
}

.app-menu-button {
  padding: 0;
  min-width: 50px;
}

.app-sidebar-button {
  width: inherit;
}
*/

.app-wrapper {
  //border: 5px solid red;
  //display: flex;
  //flex-direction: column;
 //min-height: 100vh;
}

.app-content {
  //border: 5px solid green;
  //flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar span {
  margin-left: 10px;
  margin-right: 10px;
}
