mat-sidenav {
  width: 250px;
}

mat-sidenav.debug-panel {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar span {
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  text-align: center;
}
