<div class="app-wrapper">
  <mat-toolbar class="app-nav" color="primary">
    <mat-toolbar-row>
      <a mat-button routerLink="/">Services Manager</a>
      <ng-container *ngIf="(clients$ | async) as clients">
        <a *ngFor="let client of clients" mat-button (click)="goToClient(client)">
          {{client.name}}
        </a>
      </ng-container>
      <span class="spacer"></span>
      <button mat-button routerLink="/logout">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
