<ng-container *ngIf="(auth.authorized$ | async); else authorizing">
  <mat-sidenav-container>
    <mat-sidenav mode="push" [opened]="sidebar.open$ | async" (openend)="sidebar.open()" (closed)="sidebar.close()">
      <mat-toolbar class="mat-elevation-z4" color="primary">
        <mat-toolbar-row>
          <span>{{appName}}</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-nav-list>
        <a *ngFor="let item of topMenuItems" [routerLink]="item.path" routerLinkActive="selected" mat-list-item>
          <span>{{item.label}}</span>
          <!-- <mat-icon mat-list-icon *ngIf="item.icon" [svgIcon]="item.icon"></mat-icon> -->
        </a>
        <mat-divider></mat-divider>
        <ng-container *ngIf="clients?.length">
          <h3 mat-subheader>Clients</h3>
          <a *ngFor="let client of clients" [routerLink]="['client', client.id]" routerLinkActive="selected"
             mat-list-item>
            <mat-icon mat-list-icon *ngIf="client.icon" [svgIcon]="client.icon"></mat-icon>
            <span>{{client.label}}</span>
          </a>
        </ng-container>
        <mat-divider></mat-divider>
        <ng-container *ngIf="configs">
          <h3 mat-subheader>Configs</h3>
          <a *ngFor="let item of configs" [routerLink]="['config', item.id]" routerLinkActive="selected" mat-list-item>
            <span>{{item.label}}</span>
          </a>
          <mat-divider></mat-divider>
        </ng-container>

        <a *ngFor="let item of bottomMenuItems" [routerLink]="item.path" routerLinkActive="selected" mat-list-item>
          <span>{{item.label}}</span>
          <!-- <mat-icon mat-list-icon *ngIf="item.icon" [svgIcon]="item.icon"></mat-icon> -->
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/logout" (click)="logout()">
          <span>Logout</span>
          <!-- <mat-icon mat-list-icon svgIcon="user-solid-circle"></mat-icon> -->
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav class="debug-panel" mode="over" [opened]="showDebugPanel" position="end" (closed)="showDebugPanel">
      <ng-container *ngIf="showDebugPanel">
        <mat-card *ngFor="let data of (debugData$ | async)">
          <sm-json [data]="data"></sm-json>
        </mat-card>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #authorizing>
  <mat-card *ngIf="(auth.errorMessage$ | async) as error; else loading">
    <mat-card-content>
      <h2>Unable to authorize application</h2>
    </mat-card-content>
  </mat-card>
  <ng-template #loading>
    <mat-card>
      <mat-card-title class="center">Authorizing Application</mat-card-title>
      <mat-card-content fxLayout fxLayoutAlign="center">
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </ng-template>
</ng-template>
