<sm-app-shell appName="Configs">
  <nav *ngIf="(configs$ | async) as configs">
    <a *ngFor="let config of configs"
       mat-button
       [routerLink]="['..', config.id]"
       routerLinkActive="mat-accent">
      {{config.label}}
    </a>
  </nav>
  <div class="config-content">
    <ng-container *ngIf="edit; else viewer">
      <sm-config-edit
        [config]="config"
        [working]="working"
        (update)="onUpdate($event)"
        (cancel)="onCancel()">
      </sm-config-edit>
      <mat-progress-bar *ngIf="working" mode="indeterminate"></mat-progress-bar>
    </ng-container>

    <ng-template #viewer>
      <sm-config-view [config]="config" (edit)="onEdit()"></sm-config-view>
      <mat-progress-bar *ngIf="working" mode="indeterminate"></mat-progress-bar>
    </ng-template>
  </div>
</sm-app-shell>
