.spacer {
  flex: 1 1 auto;
}

.with-icon {
  display: flex;
  align-items: center;
}

.with-icon>span {
  padding-left: 10px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  background-color: #eee;
}
