<sm-app-shell *ngIf="client; else clientNotFound" [appName]="client?.label">
  <nav>
    <a *ngFor="let service of client?.services" mat-button [routerLink]="['..', service.id]" routerLinkActive="mat-accent">
      {{service.label}}
    </a>
  </nav>

  <div class="sm-client">
    <mat-card>
      <mat-card-content>
        <h2>{{service?.label}}</h2>
        <div class="service-content">
          <ng-container *ngIf="(serviceContext$ | async) as context; else loading">
            <sm-service [context]="context"></sm-service>
          </ng-container>
          <ng-template #loading>
            <sm-loading text="Loading"></sm-loading>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</sm-app-shell>

<ng-template #clientNotFound>
  <mat-card>
    <mat-card-content>
      <h2>Client not found</h2>
      <button mat-raised-button color="warn" routerLink="/">
        Go Home
      </button>
    </mat-card-content>
  </mat-card>
</ng-template>
