<div class="service-content">
  <mat-card *ngIf="client; else noService">
    <mat-card-content>
      <h2>{{client.name}}</h2>
      <nav mat-tab-nav-bar>
        <a *ngFor="let service of client.services"
           mat-tab-link
           [routerLink]="['../', service.id]"
           routerLinkActive
           #rla="routerLinkActive"
           [active]="rla.isActive">
          {{service.name}}
        </a>
      </nav>
      <ng-container *ngIf="(serviceData$ | async) as context; else loading">
        <sm-service [context]="context"></sm-service>
      </ng-container>
      <ng-template #loading>Loading...</ng-template>
    </mat-card-content>
  </mat-card>

  <ng-template #noService>
    <mat-card>
      <mat-card-content>
        <h2>Client not found</h2>
        <button mat-raised-button color="warn" routerLink="/">
          Go Home
        </button>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
