<sm-app-shell>
  <div class="sm-landing-page" fxLayout="row wrap">
    <ng-container *ngIf="clients; else loading">
      <mat-card class="client" fxFlex *ngFor="let client of clients">
        <mat-card-content fxLayout fxLayoutGap="20px">
          <a mat-raised-button [routerLink]="['client', client.id]" color="primary">{{client.label}}</a>
          <p>{{client.description}}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <ng-template #loading>
      <mat-card>
        <sm-loading text="Loading"></sm-loading>
      </mat-card>
    </ng-template>
  </div>
</sm-app-shell>
