<sm-app-shell>
  <div class="landing-page">
    <ng-container *ngIf="(clients$ | async) as clients; else noClients">
      <mat-card class="client" *ngFor="let client of clients">
        <mat-card-title>
          {{client.label}}
        </mat-card-title>
        <mat-card-content>
          <p>{{client.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a *ngFor="let service of client.services" mat-button [routerLink]="getClientPath(client, service)">
            {{service.label}}
          </a>
        </mat-card-actions>
      </mat-card>
    </ng-container>

    <ng-template #noClients>
      <mat-card>
        <mat-card-content>
          <h2>No clients configured</h2>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</sm-app-shell>
