<div class="report-block">
  <ng-content></ng-content>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{col.label}}</mat-header-cell>
      <mat-cell *matCellDef="let element;"> {{element[col.name]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
</div>
