/* You can add global styles to this file, and also import other style files */
//@import url('~https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~material-design-icons/iconfont/material-icons.css';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
//  display: flex;
}

//p {
//  margin: 16px;
//}
